<footer class="site-footer h-card">
  <data class="u-url" href="{{ "/" | relative_url }}"></data>
  <div style="margin: auto; text-align: center;">
    <a class="footerButton" href="mailto:{{ site.email }}"><i class="fas fa-envelope"></i></a>
    <a class="footerButton" href="https://x.com/privatemajory"><i class="fab fa-twitter"></i></a>
    <a class="footerButton" href="https://www.reddit.com/user/privatemajory/"><i class="fab fa-reddit"></i></a>
    <a class="footerButton" href="https://www.linkedin.com/in/dolly-andriatsiferana/"><i class="fab fa-linkedin"></i></a>
  </div>
</footer>
