@charset "utf-8";

// Define defaults for each variable.

$base-font-family: 'Libre Franklin',
serif;
$base-font-size: 13px !default;
$base-font-weight: 400 !default;
$small-font-size: $base-font-size * 0.875 !default;
$base-line-height: 1.5 !default;

$spacing-unit: 20px !default;

$grey-color: #828282 !default;
$grey-color-light: lighten($grey-color, 30%) !default;
$grey-color-dark: darken($grey-color, 20%) !default;

$text-color: #111 !default;
$background-color: #ffffff !default;
$content-background-color: #ffffff;
$header-background-color: #ffffff;
$footer-background-color: $header-background-color;
$header-text-color: $grey-color-dark !default;
$brand-color: #2a7ae2 !default;

$table-text-align: left !default;

// Width of the content area
$content-width: 800px !default;

$on-palm: 600px !default;
$on-laptop: 800px !default;

// Use media queries like this:
// @include media-query($on-palm) {
//   .wrapper {
//     padding-right: $spacing-unit / 2;
//     padding-left: $spacing-unit / 2;
//   }
// }
@mixin media-query($device) {
  @media screen and (max-width: $device) {
    @content;
  }
}

@mixin relative-font-size($ratio) {
  font-size: $base-font-size * $ratio;
}

// Import partials.
@import "minima/base",
"minima/layout",
"minima/syntax-highlighting"
;

// Global

body {
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.04);
  color: $text-color;
  text-rendering: optimizeLegibility !important;
  -webkit-font-smoothing: antialiased !important;
  background-color: $background-color;
  max-width: $content-width;
  margin: auto;
}

// Header

.site-header {
  position: sticky;
  top: 0;
  z-index: 1000;
  background: $header-background-color;
  border-top: none;
  border-bottom: 1px solid $grey-color-light !important;
  padding: 5px;
  transition: background 0.3s ease;
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
}

.site-header.scrolled {
  background: #ffffffaa;
}

.site-title,
.site-title:visited,
.site-nav .page-link,
.page-link:visited {
  font-family: 'Libre Franklin', sans-serif;
  font-size: 12px;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  color: $header-text-color;
}

.site-header a:hover {
  color: darken($grey-color-dark, 20%);
  text-decoration: none;
  font-weight: 600;
}

#current-page {
  position: relative;
  color: darken($grey-color-dark, 20%);
  font-weight: 600;
  padding-bottom: 14px;

  // Base border
  border-bottom: 5px solid $grey-color-light;

  // &::after {
  //   content: '';
  //   position: absolute;
  //   left: 0;
  //   right: 0;
  //   bottom: 0;
  //   height: 10px;
  //   background: linear-gradient(to bottom, #8e8e8e6a, transparent);
  //   z-index: -1;
  // }
}

// Navigation

.site-nav {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.site-nav .nav-trigger {
  display: none;
}

.site-nav .menu-icon {
  display: none;
}

.site-nav .page-link:not(:last-child) {
  margin-right: 20px;
}

// Footer

footer {
  background-color: $footer-background-color;
  border-top: 1px solid $grey-color-light !important;
}

footer .footerButton {
  display: flex;
  align-items: center;
  display: inline-block;
  cursor: pointer;
  color: $grey-color;
  font-size: 16px;
  text-decoration: none;
  margin: 0px 10px;
}

// Text content styling

.page-content {
  background-color: $content-background-color;
  padding: 40px 0px;
}

.post-link, .post-link:visited {
  color: $text-color;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: 'Libre Franklin', sans-serif;
}

code {
  font-family: 'Fira Code', monospace;
}

.post-content table,
.post-content p,
.post-content ul {
  font-family: 'Lora', serif;
}

p, ul, ol, figure figcaption {
  text-align: justify;
}

table {
  margin-bottom: 30px;
  width: 100%;
  text-align: left;
  color: #3f3f3f;
  border-collapse: collapse;
  border: 1px solid $grey-color-light;
}

table tr:nth-child(even) {
  background-color: #fafafa;
}

table th,
table td {
  padding: 5px 7.5px;
}

table th {
  background-color: #f7f7f7;
  border: 1px solid $grey-color-light;
  border-bottom-color: $grey-color;
  text-transform: uppercase;
}

table td {
  border: 1px solid $grey-color-light;
}

figure {
  display: table;
  padding-left: 10px;
  border-left: 1px solid $grey-color-light;
}

figure img {
  display: table-row;
  max-width: 100%;
  margin-bottom: 10px;
  border: 1px solid $grey-color-light;
}

figure figcaption {
  display: table-caption;
  caption-side: bottom;
  word-wrap: break-word;
  font-family: 'Libre Franklin', sans-serif;
  padding-left: 10px;
  border-left: 1px solid $grey-color-light;
}

.footnotes ol {
  font-family: 'Lora', serif;
}

.centeredcontent {
  text-align: center;
}

// Buttons

.pageButton {
  background-color: $grey-color-dark;
  display: flex;
  align-items: center;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-family: 'Libre Franklin';
  font-size: 13px;
  padding: 4px 8px;
  text-decoration: none;
  margin: 2px;
  border: 1px solid #111;
  border-radius: 4px;

}

.pageButton:hover {
  background-color: #0b5f9b;
  text-decoration: none;
  border: 1px solid #084c7c;
}

.pageButton:active {
  position: relative;
  top: 1px;
}

.pageButton i {
  margin-right: 5px;
}

.pageButton i,
.buttonText {
  text-decoration: none;
  color: #ffffff;
}

// Datasets table

.datasetsTable {
  border-collapse: collapse;
  border: none;

  // Horizontal borders between rows, no border on the top and bottom
  tr:not(:last-child) td, tr:not(:last-child) th {
    border-bottom: 1px solid $grey-color-light;
  }

  // Vertical borders between columns, no borders on the left and right
  td:not(:last-child), th:not(:last-child) {
    border-right: 1px solid $grey-color-light;
  }

  // Remove outer borders
  table, th, td {
    border: none;
  }
}

.datasetsTable .pageButton {
  display: flex;
  align-items: center;
}

.datasetsTable h4 {
  margin-bottom: 0px;
}

.flink u {
  color: $grey-color;
}

// Misc

small {
  font-size: 80%;
  color: #404040;
  line-height: 0.8;
}

// Numbering of headings

.e-content {
  counter-reset: h1counter h2counter h3counter h4counter h5counter;
}

.e-content h1 { counter-reset: h2counter; }
.e-content h2 { counter-reset: h3counter; }
.e-content h3 { counter-reset: h4counter; }
.e-content h4 { counter-reset: h5counter; }

.e-content h2:before {
  counter-increment: h2counter;
  content: counter(h2counter) ".\0000a0\0000a0";
}

.e-content h3:before {
  counter-increment: h3counter;
  content: counter(h2counter) "." counter(h3counter) ".\0000a0\0000a0";
}

.e-content h4:before {
  counter-increment: h4counter;
  content: counter(h2counter) "." counter(h3counter) "." counter(h4counter) ".\0000a0\0000a0";
}

.e-content h2:before, .e-content h3:before, .e-content h4:before {
  color: $grey-color;
  font-size: 80%;
  font-weight: normal;
}

// For smaller screens

@media screen and (max-width: 600px) {
  .site-nav {
    background-color: $background-color;
    border: 1px solid $grey-color-light;
    border-radius: 10px;
    background: $header-background-color;
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
  }

  .site-nav label[for="nav-trigger"] {
    display: block;
    z-index: 2;
    cursor: pointer;
  }

  .site-nav .menu-icon {
    display: block;
    line-height: 0;
    text-align: center;
    background: transparent;
  }

  .site-nav .menu-icon>svg {
    fill: $grey-color-dark;
  }

  .site-nav input~.trigger {
    clear: both;
    display: none;
  }

  .site-nav input:checked~.trigger {
    display: block;
    padding: 5px;
  }

  .site-nav .page-link {
    display: block;
    margin-left: 0px;
  }

  .site-nav .page-link:not(:last-child) {
    margin-right: 0;
  }

  #current-page {
    position: relative;
    color: darken($grey-color-dark, 20%);
    font-weight: 600;
    padding-bottom: 5px;
  
    // Base border
    border-bottom: 2px solid transparent;
  
    &::after {
      content: none;
    }
  }
}