@charset "utf-8";

// Define defaults for each variable.

$base-font-family: 'Libre Franklin',
serif;
$base-font-size: 13px !default;
$base-font-weight: 400 !default;
$small-font-size: $base-font-size * 0.875 !default;
$base-line-height: 1.5 !default;

$spacing-unit: 30px !default;

$grey-color: #828282 !default;
$grey-color-light: lighten($grey-color, 30%) !default;
$grey-color-dark: darken($grey-color, 20%) !default;

$text-color: #111 !default;
$background-color: #ffffff !default;
$header-background-color: #2e2e2e;
$header-text-color: lighten($grey-color, 20%);
$brand-color: #2a7ae2 !default;

$table-text-align: left !default;

// Width of the content area
$content-width: 700px !default;

$on-palm: 600px !default;
$on-laptop: 700px !default;

// Use media queries like this:
// @include media-query($on-palm) {
//   .wrapper {
//     padding-right: $spacing-unit / 2;
//     padding-left: $spacing-unit / 2;
//   }
// }
@mixin media-query($device) {
  @media screen and (max-width: $device) {
    @content;
  }
}

@mixin relative-font-size($ratio) {
  font-size: $base-font-size * $ratio;
}

// Import partials.
@import "minima/base",
"minima/layout",
"minima/syntax-highlighting"
;

body {
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.004);
  text-rendering: optimizeLegibility !important;
  -webkit-font-smoothing: antialiased !important;
}

.site-header {
  border-top: none;
  border-bottom: 1px solid #111;
  min-height: 0px;
  // background-color: $header-background-color;

  // CSS pattern
  background:
    radial-gradient(circle farthest-side at 0% 50%,#2e2e2e 23.5%,#0000 0)10.5px 15px,
    radial-gradient(circle farthest-side at 0% 50%,#383838 24%,#0000 0)9.5px 15px,
    linear-gradient(#2e2e2e 14%,#0000 0, #0000 85%,#2e2e2e 0)0 0,
    linear-gradient(150deg,#2e2e2e 24%,#383838 0,#383838 26%,#0000 0,#0000 74%,#383838 0,#383838 76%,#2e2e2e 0)0 0,
    linear-gradient(30deg,#2e2e2e 24%,#383838 0,#383838 26%,#0000 0,#0000 74%,#383838 0,#383838 76%,#2e2e2e 0)0 0,
    linear-gradient(90deg,#383838 2%,#2e2e2e 0,#2e2e2e 98%,#383838 0%)0 0 #2e2e2e;
  background-size: 20px 30px;
  background-color: #2e2e2e;

  // Positioning context for the mobile navigation icon
  position: relative;
}

.site-title,
.site-title:visited,
nav .page-link,
.page-link:visited {
  font-family: 'Libre Franklin', sans-serif;
  font-size: 11px;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: $header-text-color;
}

.site-header a:hover {
  color: #ffffff;
}

header,
.page-content {
  background-color: $background-color;
}

footer {
  background-color: #f7f7f7;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: 'Libre Franklin', sans-serif;
}

code {
  font-family: monospace;
}

.post-content table,
.post-content p,
.post-content ul {
  font-family: 'PT Serif', serif;
}

p, ul, ol, figure figcaption {
  text-align: justify;
}

table {
  margin-bottom: 30px;
  width: 100%;
  text-align: left;
  color: #3f3f3f;
  border-collapse: collapse;
  border: 1px solid $grey-color-light;
}

table tr:nth-child(even) {
  background-color: #fafafa;
}

table th,
table td {
  padding: 5px 7.5px;
}

table th {
  background-color: #f7f7f7;
  border: 1px solid $grey-color-light;
  border-bottom-color: $grey-color;
  text-transform: uppercase;
}

table td {
  border: 1px solid $grey-color-light;
}

figure {
  display: table;
  padding-left: 10px;
  border-left: 1px solid $grey-color-light;
}

figure img {
  display: table-row;
  max-width: 100%;
  margin-bottom: 10px;
  border: 1px solid $grey-color-light;
}

figure figcaption {
  display: table-caption;
  caption-side: bottom;
  word-wrap: break-word;
  font-family: 'Libre Franklin', sans-serif;
  padding-left: 10px;
  border-left: 1px solid $grey-color-light;
}

.footnotes ol {
  font-family: 'PT Serif', serif;
}

.centeredcontent {
  text-align: center;
}

.pageButton {
  background-color: $header-background-color;
  display: flex;
  align-items: center;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-family: 'Libre Franklin';
  font-size: 13px;
  padding: 4px 8px;
  text-decoration: none;
  margin: 2px;
  border: 1px solid #111;
  border-radius: 4px;

}

.pageButton:hover {
  background-color: #0b5f9b;
  text-decoration: none;
  border: 1px solid #084c7c;
}

.pageButton:active {
  position: relative;
  top: 1px;
}

.pageButton i {
  margin-right: 5px;
}

.pageButton i,
.buttonText {
  text-decoration: none;
  color: #ffffff;
}

.datasetsTable .pageButton {
  display: flex;
  align-items: center;
}

.flink u {
  color: $grey-color;
}

.site-nav {
  float: right;
}

.site-nav .nav-trigger {
  display: none;
}

.site-nav .menu-icon {
  display: none;
}

.site-nav .page-link {
  line-height: 1.5;
}

.site-nav .page-link:not(:last-child) {
  margin-right: 20px;
}

@media screen and (max-width: 600px) {
  .site-nav {
    position: absolute;
    top: 3px;
    right: 3px;
    background-color: #2e2e2e;
    border: 1px solid #383838;
    border-radius: 10px;
  }

  .site-nav label[for="nav-trigger"] {
    display: block;
    z-index: 2;
    cursor: pointer;
  }

  .site-nav .menu-icon {
    display: block;
    float: right;
    line-height: 0;
    text-align: center;
  }

  .site-nav .menu-icon>svg {
    fill: #fdfdfd;
  }

  .site-nav input~.trigger {
    clear: both;
    display: none;
  }

  .site-nav input:checked~.trigger {
    display: block;
    padding: 5px;
  }

  .site-nav .page-link {
    display: block;
    margin-left: 0px;
  }

  .site-nav .page-link:not(:last-child) {
    margin-right: 0;
  }
}

small {
  font-size: 80%;
  color: #404040;
  line-height: 0.8; // Adjust line height here
}

#slider {
  border-radius: 10px;
}

// Numbering of headings

.e-content {
  counter-reset: h1counter h2counter h3counter h4counter h5counter;
}

.e-content h1 { counter-reset: h2counter; }
.e-content h2 { counter-reset: h3counter; }
.e-content h3 { counter-reset: h4counter; }
.e-content h4 { counter-reset: h5counter; }

.e-content h2:before {
  counter-increment: h2counter;
  content: counter(h2counter) ".\0000a0\0000a0";
}

.e-content h3:before {
  counter-increment: h3counter;
  content: counter(h2counter) "." counter(h3counter) ".\0000a0\0000a0";
}

.e-content h4:before {
  counter-increment: h4counter;
  content: counter(h2counter) "." counter(h3counter) "." counter(h4counter) ".\0000a0\0000a0";
}

.e-content h2:before, .e-content h3:before, .e-content h4:before {
  color: $grey-color;
  font-size: 80%;
  font-weight: normal;
}