--- # Only the main Sass file needs front matter (the dashes are enough) --- @import "minima";

.site-nav {
  float: right;
}

.site-nav .nav-trigger {
  display: none;
}

.site-nav .menu-icon {
  display: none;
}

.site-nav .page-link {
  color: #111;
  line-height: 1.5;
}

.site-nav .page-link:not(:last-child) {
  margin-right: 20px;
}

@media screen and (max-width: 600px) {
  .site-nav {
    position: absolute;
    top: 3px;
    right: 15px;
    background-color: #fdfdfd;
    border: 1px solid #e8e8e8;
    border-radius: 5px;
    text-align: right;
  }

  .site-nav label[for="nav-trigger"] {
    display: block;
    float: right;
    width: 36px;
    height: 36px;
    z-index: 2;
    cursor: pointer;
  }

  .site-nav .menu-icon {
    display: block;
    float: right;
    width: 15px;
    height: 15px;
    line-height: 0;
    padding-top: 10px;
    text-align: center;
  }

  .site-nav .menu-icon>svg {
    fill: #424242;
  }

  .site-nav input~.trigger {
    clear: both;
    display: none;
  }

  .site-nav input:checked~.trigger {
    display: block;
    padding-bottom: 5px;
  }

  .site-nav .page-link {
    display: block;
    padding: 5px 10px;
    margin-left: 20px;
  }

  .site-nav .page-link:not(:last-child) {
    margin-right: 0;
  }
}

.post-title {
  font-size: 29.25px;
  letter-spacing: -1px;
  line-height: 1;
}

@media screen and (max-width: 700px) {
  .post-title {
    font-size: 29.25px;
  }
}

.post-content {
  margin-bottom: 30px;
}

.post-content h2 {
  font-size: 22.75px;
}

@media screen and (max-width: 700px) {
  .post-content h2 {
    font-size: 21.125px;
  }
}

.post-content h3 {
  font-size: 17.875px;
}

@media screen and (max-width: 700px) {
  .post-content h3 {
    font-size: 16.25px;
  }
}

.post-content h4 {
  font-size: 14.625px;
}

@media screen and (max-width: 700px) {
  .post-content h4 {
    font-size: 13.875px;
  }
}

table {
  margin-bottom: 30px;
  width: 100%;
  text-align: left;
  color: #3f3f3f;
  border-collapse: collapse;
  border: 1px solid $grey-color-light;
}

table tr:nth-child(even) {
  background-color: #f7f7f7;
}

table th,
table td {
  padding: 5px 7.5px;
}

table th {
  background-color: #f0f0f0;
  border: 1px solid $grey-color-light;
  border-bottom-color: $grey-color;
  text-transform: uppercase;
}

table td {
  border: 1px solid $grey-color-light;
}

img {
  margin-bottom: 10px;
}

figure {
  padding: 10px;
  border-top: 1px solid $grey-color-light;
  border-bottom: 1px solid $grey-color-light;
  border-left: none;
  border-right: none;
}

figure figcaption {
  font-family: 'Libre Franklin', sans-serif;
}

.footnotes ol {
  font-family: 'PT Serif', serif;
}