<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {%- include head.html -%}
  <head>
    <link href="https://fonts.googleapis.com/css?family=Montserrat|Nanum+Gothic+Coding|Scope+One&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Montserrat|Scope+One&display=swap" rel="stylesheet">
    <link href="/css/justifiedGallery.min.css" rel="stylesheet">
    <script src="/js/jquery-3.4.1.min.js"></script>
    <script src="/js/jquery.justifiedGallery.min.js"></script>
  </head>

  <body>

    {%- include header.html -%}

    <main class="page-content" aria-label="Content">
      <div class="wrapper">
        {{ content }}
      </div>
    </main>

    {%- include footer.html -%}

  </body>

<script>
  $("#imggallery").justifiedGallery({
    rowHeight: 160,
    margins: 6,
    randomize: true,
    rtl: true
  });
</script>
</html>
